#### Simple Spark Demo

This is to demonstrate  how to access Standalone Spark in Jupyter with Scala, PySpark and SQL.

In [1]:
val df = spark.read.json("data/people.json")
df.filter("age > 21").select("name", "age").show()

+-------+---+
|   name|age|
+-------+---+
|Michael| 25|
|   Andy| 30|
|   Tori| 30|
| Andray| 29|
+-------+---+

In [2]:
df.createOrReplaceTempView("people")
spark.sql("SELECT * FROM people where age > 21").show()

+---+-------+
|age|   name|
+---+-------+
| 25|Michael|
| 30|   Andy|
| 30|   Tori|
| 29| Andray|
+---+-------+